#caixa_01{
    width: 90vw;
    height: 90vh;
    display: grid;
    border: 1px solid #97cf77;
    background-color: antiquewhite;
    place-items: center;
}

.curso {
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-bottom: 10px;
    width: 200px;
}


.curso:hover {
    border: 2px solid red;
}

.c1 {
    background-color: rgb(83, 148, 86);
}

.c2 {
    background-color: rgb(81, 156, 156);
}

.c3 {
    background-color: rgb(145, 80, 75);
}

.destaque {
    background-color: #b038b4 !important;
    color: #ccc !important;
    border-color: #f00 !important;
}