@charset "UTF-8";

*{
    display: grid;
    place-items: center;
    align-content: center;
    height: 100%;
}

body{
    background-color: rgba(248, 252, 255, 0.932);
}

#countainer{
    background-color: rgb(151, 168, 187);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    
    & .div_nome{
        width: 100%;
        align-items: center;
        
        & #p_nome{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 1.3rem
        }
    }
    & #p_display{
        font-size: 2rem;
        width: 550px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        background-color:rgba(255, 255, 255, 0.37) ;
        justify-content: right;
        padding: 10px;
    }
    
    & .div_teclas{
        padding: 10px;
        width: 500px;
        display: grid;
        grid-template-columns:repeat(4,1fr);
        row-gap: 10px;
        column-gap: 10px;
    }
    
    & .tecla{
        width: 100% !important;
        height: 55px !important;
        font-size: 2rem !important;
        border: 1px solid rgba(0, 0, 0, 0.5) !important;
        border-radius: 5px !important;
        transition: .2s !important;
        
    }
    & .tecla:hover{
        background-color: rgba(173, 173, 173, 0.788) !important; 
        border: 1px solid rgb(3, 65, 3)!important;
    }
    
    & .tecla_op{
        background-color: rgb(127, 187, 255);
    }
    & .copy{
        background-color: rgb(253, 90, 90);
    }

}