* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

section {
    background-color: aliceblue;
    height: 100vh;
    overflow: hidden;

    & .trabalhos {
        background-color: aquamarine;
    }

    & .projetos {
        & .h2 {}

        & .projetos-cartao {
            background-color: brown;
            display: flex;
            flex-flow: row nowrap;
            padding: 20px;
            justify-content: space-between;

            & img{
                background-color: aquamarine;
                width: 60%;
            }

            & .informacoes{
                background-color: aqua;
                padding: 10px;
                margin: 10px;
                width: 40%;
                display: flex;
                flex-flow: column nowrap;
                line-height: 1.5rem;
                /* justify-items: flex-start; */

                & .h3{
                    text-align: center;
                    
                }
            }
        }
    }
}