* {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.dgv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.titulos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    background-color: #138;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}

.titulos div,
.dgv_Linha div {
    padding: 5px;
}

.dgv_Dados {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.dgv_Linha {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.dgv_Linha:nth-child(odd) {
    background-color: #aaa;
}

.dgv_Linha:nth-child(even) {
    background-color: #ddd;
}

.dgv_Linha:hover{
    background-color: #088 !important;
    cursor: pointer;
}

.coluna{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.c1 {
    width: 50px;
}

.c2 {
    width: 150px;
}

.c3 {
    width: 150px;
}

.c4 {
    width: 150px;
}

.c5 {
    width: 150px;
    justify-content: space-evenly !important;
    align-items: center;
}

.dgv_icon {
    width: 25px;
    padding-left: 5px;
    filter: brightness(0) saturate(100%);

}
