:root {
    --branco: #F7F9F9;
    --sombra: #212227;
    --cinza: #637074d3;
    --cinza-fosco: #d6e3e72f;
    --vidro: #fffbfee3;


}

header {
    align-items: center;
    background-color: var(--vidro);
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    justify-content: space-between;

    & h1 {
        margin-left: 4%;
        /* color: ; */
        /* font-family: ; */
    }

    & #menu {
        display: flex;
        flex-flow: row nowrap;
        gap: 15px;
        list-style: none;
        margin-right: 5%;

        &  li {
            align-content: center;
            width: 80px;
            text-align: center;
            height: 20px;
            padding: 10px;
            margin: 10px 0px;
            font-size: large;
            border-radius: 10px;
            transition: background-color 0.6s ease;
            /* font-family: ; */
        }

        & li:hover {
            background-color: var(--sombra);
            color: var(--branco);
            box-shadow: 2px 2px 2px var(--cinza);
            cursor: pointer;
        }
    }
}