* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#countainer {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}

.caixa_div {
    display: flex;
    height: 5vh;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 1.3rem;
    align-items: center;
}

#caixa_array {
    background-color: hsla(239, 61%, 54%, 0.7);
    border-color: #00109c;
}

#caixa_verificar {
    background-color: rgb(192, 59, 59,0.7);
    border-color: #9c0000;

    & #btnVerificar{
        padding: 10px;
        font-size: 1.5rem;
        max-width: 150px;
        border-radius: 10px;
    }

    & #btnPesquisar{
        font-size: 1.3rem;
        margin-left: 10px;
    }
}

#caixa_resultado {
    background-color: rgb(43, 226, 83,0.7);
    border-color: #009c22;
}